html {
    font-family: Avenir, sans-serif;
    --border: 0px solid black;
    color: #363430;
}

body {
    background: #F0E9D8;
}

#header {
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    top: 0;
    min-height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 1em;
    border: var(--border);
    background: linear-gradient(silver, #F0E9D8);
}

#img-container {
    width: 50%;
    min-width: 200px;
    max-width: 500px;
}

#img-container img {
    width: 100%;
    height: auto;
}

ul {
    padding: 0;
}

#nav-bar li {
    list-style: none;
    display: inline-block;
    font-size: 1.2em;
    margin-left: 1.2em;

}

a {
    text-decoration: none;
    color: black;
}

.nav-link:hover {
    color: white;
    font-size: 1.1em;
    text-shadow: 0px 0px 6px black;
}

#hero {
    width: 75%;
    margin: 105px auto 30px auto;
    border: var(--border);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#hero p {
    margin-bottom: 4px;
}

form {
    display: flex;
    flex-direction: inherit;
    margin-bottom: 3em;
}

input {
    margin: 8px;
    width: 250px;
    box-sizing: border-box;
    text-align: center;
}

.btn {
    cursor: pointer;
    padding: 0 20px;
    height: 40px;
    font-size: 1em;
    text-transform: uppercase;
    border-radius: 2px;
}

.container {
    width: 60%;
    margin: 0 auto;
    border: var(--border);
}

.grid {
    display: flex;
}

.icon {
    display: flex;
    align-items: center;
}

.icon-img-container {
    max-width: 90px;
    max-height: 90px;
    min-width: 90px;
    min-height: 90px;
}

.icon-img {
    width: 100%;
    height: auto; 
    box-sizing: border-box;  
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 125px;
    width: 80vw;
    padding: 5px;
    margin-left: 2em;
}

#how {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

#pricing {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 1px solid black;
    border-radius: 3px;
    width: calc(100%/3);
    margin: 10px;
    background-color: #ebe8e1;
}

.product > .level {
    padding: 15px 0 5px 0;
    width: 100%;
    text-transform: uppercase;
    font-weight: 700;
    background-color: #d8d6d3;
}

.product > h2 {
    margin-top: 15px;
}

.product ol {
    margin: 15px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 0;

}

ol li {
    list-style: none;
    list-style-position: inside;
    padding: 5px 10px;
}

.product button {
    border: none;
    margin: 15px 0;
    background-color: #4bf24b;
    font-weight: 700;
}

footer {
    margin-top: 30px;
    background: linear-gradient(#F0E9D8, silver);
    padding: 20px;
}

footer ul {
    display: flex;
    justify-content: flex-end;
}

footer li {
    list-style: none;
    padding: 0 5px;
}

footer span {
    margin-top: 5px;
    display: flex;
    justify-content: flex-end;
    font-size: 0.9em
}

@media (max-width: 600px) {
    #header {
        flex-wrap: wrap;
        justify-content: center;
    }

    .grid {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .description {
        margin: 0;
    }

    #pricing {
        flex-direction: column;
        align-items: center;
    }

    .product {
        width: 100%;
    }

    footer ul {
        justify-content: center;
    }

    footer span {
        justify-content: center;
    }



}